In [5]:
import pandas as pd
ages = pd.DataFrame(data={
    'name': ['max', 'sunny'],
    'age': [24, 22]
})
print(ages)

    name  age
0    max   24
1  sunny   22

## ROI

Return on investment. 

ROI = (( _final_ - _initial_ ) / _initial_ )*100 

here, _final_ is a final amount of investment and. _initial_ is a initial amount of investment

In [6]:
import pandas as pd
df=pd.read_excel("XIRR.xlsx")

In [7]:
df['total'] = df['income'] + df['expense']

In [8]:
values = df.total
dates = df.date

In [9]:
rate = 0.05
min_date = min(df.date)

In [10]:
# function of net present value
def xnpv(rate, values, dates):
    min_date = min(dates)
    return sum([
        value/(1+rate)**(date - min_date).days/365
        for value, date
        in zip(values, dates)
    ])

In [11]:
xnpv(rate, values, dates)

-8.219178031654371

In [12]:
from dotenv import load_dotenv, find_dotenv
import requests

In [13]:
load_dotenv(find_dotenv())
API_KEY = 'b62b1c472e8642e8a6cff0f36da172d2'
r = requests.get('https://openexchangerates.org/api/latest.json', params = {
    'app_id': API_KEY,
    'symbols': 'CAD,USD',
    'show_alternative': True 
})

In [14]:
r.json()['rates']

{'CAD': 1.274768, 'USD': 1}

## Amortization

Amortization refers to the process of paying off a loan over time through regular payments. On an amortizing loan, a portion of each payment is for interest, while the remaining amount is applied against the principal balance.

In [15]:
import numpy as np
np.pmt(0.0925/12, 10*12, 36000000)

/Users/nishit/.envs/python3.7/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning: numpy.pmt is deprecated and will be removed from NumPy 1.20. Use numpy_financial.pmt instead (https://pypi.org/project/numpy-financial/).

-460917.79911737243

## Budget

In [16]:
import datetime
date_1 = datetime.datetime.now()
print(date_1)

2021-01-25 22:12:11.350605

In [17]:
import pandas as pd
print(pd.Timestamp(date_1).normalize())

2021-01-25 00:00:00

In [18]:
start = pd.Timestamp('today').normalize()
end = start + datetime.timedelta(days=365)

In [19]:
end

Timestamp('2022-01-25 00:00:00')

In [20]:
pd.DataFrame(index=pd.date_range(start=start, end=end))

Empty DataFrame
Columns: []
Index: [2021-01-25 00:00:00, 2021-01-26 00:00:00, 2021-01-27 00:00:00, 2021-01-28 00:00:00, 2021-01-29 00:00:00, 2021-01-30 00:00:00, 2021-01-31 00:00:00, 2021-02-01 00:00:00, 2021-02-02 00:00:00, 2021-02-03 00:00:00, 2021-02-04 00:00:00, 2021-02-05 00:00:00, 2021-02-06 00:00:00, 2021-02-07 00:00:00, 2021-02-08 00:00:00, 2021-02-09 00:00:00, 2021-02-10 00:00:00, 2021-02-11 00:00:00, 2021-02-12 00:00:00, 2021-02-13 00:00:00, 2021-02-14 00:00:00, 2021-02-15 00:00:00, 2021-02-16 00:00:00, 2021-02-17 00:00:00, 2021-02-18 00:00:00, 2021-02-19 00:00:00, 2021-02-20 00:00:00, 2021-02-21 00:00:00, 2021-02-22 00:00:00, 2021-02-23 00:00:00, 2021-02-24 00:00:00, 2021-02-25 00:00:00, 2021-02-26 00:00:00, 2021-02-27 00:00:00, 2021-02-28 00:00:00, 2021-03-01 00:00:00, 2021-03-02 00:00:00, 2021-03-03 00:00:00, 2021-03-04 00:00:00, 2021-03-05 00:00:00, 2021-03-06 00:00:00, 2021-03-07 00:00:00, 2021-03-08 00:00:00, 2021-03-09 00:00:00, 2021-03-10 00:00:00, 2021-03-11 00:00:00, 2021-03-12 00:00:00, 2021-03-13 00:00:00, 2021-03-14 00:00:00, 2021-03-15 00:00:00, 2021-03-16 00:00:00, 2021-03-17 00:00:00, 2021-03-18 00:00:00, 2021-03-19 00:00:00, 2021-03-20 00:00:00, 2021-03-21 00:00:00, 2021-03-22 00:00:00, 2021-03-23 00:00:00, 2021-03-24 00:00:00, 2021-03-25 00:00:00, 2021-03-26 00:00:00, 2021-03-27 00:00:00, 2021-03-28 00:00:00, 2021-03-29 00:00:00, 2021-03-30 00:00:00, 2021-03-31 00:00:00, 2021-04-01 00:00:00, 2021-04-02 00:00:00, 2021-04-03 00:00:00, 2021-04-04 00:00:00, 2021-04-05 00:00:00, 2021-04-06 00:00:00, 2021-04-07 00:00:00, 2021-04-08 00:00:00, 2021-04-09 00:00:00, 2021-04-10 00:00:00, 2021-04-11 00:00:00, 2021-04-12 00:00:00, 2021-04-13 00:00:00, 2021-04-14 00:00:00, 2021-04-15 00:00:00, 2021-04-16 00:00:00, 2021-04-17 00:00:00, 2021-04-18 00:00:00, 2021-04-19 00:00:00, 2021-04-20 00:00:00, 2021-04-21 00:00:00, 2021-04-22 00:00:00, 2021-04-23 00:00:00, 2021-04-24 00:00:00, 2021-04-25 00:00:00, 2021-04-26 00:00:00, 2021-04-27 00:00:00, 2021-04-28 00:00:00, 2021-04-29 00:00:00, 2021-04-30 00:00:00, 2021-05-01 00:00:00, 2021-05-02 00:00:00, 2021-05-03 00:00:00, 2021-05-04 00:00:00, ...]

[366 rows x 0 columns]

In [21]:
from recurrent import RecurringEvent

r = RecurringEvent()
r.parse("every week until July 10th")

'RRULE:INTERVAL=1;FREQ=WEEKLY;UNTIL=20210710'

In [22]:
from dateutil import rrule
rr = rrule.rrulestr(r.get_RFC_rrule())

In [24]:
[pd.to_datetime(date).normalize() for date in rr.between(start, end)]

[Timestamp('2021-01-25 00:00:00'),
 Timestamp('2021-02-01 00:00:00'),
 Timestamp('2021-02-08 00:00:00'),
 Timestamp('2021-02-15 00:00:00'),
 Timestamp('2021-02-22 00:00:00'),
 Timestamp('2021-03-01 00:00:00'),
 Timestamp('2021-03-08 00:00:00'),
 Timestamp('2021-03-15 00:00:00'),
 Timestamp('2021-03-22 00:00:00'),
 Timestamp('2021-03-29 00:00:00'),
 Timestamp('2021-04-05 00:00:00'),
 Timestamp('2021-04-12 00:00:00'),
 Timestamp('2021-04-19 00:00:00'),
 Timestamp('2021-04-26 00:00:00'),
 Timestamp('2021-05-03 00:00:00'),
 Timestamp('2021-05-10 00:00:00'),
 Timestamp('2021-05-17 00:00:00'),
 Timestamp('2021-05-24 00:00:00'),
 Timestamp('2021-05-31 00:00:00'),
 Timestamp('2021-06-07 00:00:00'),
 Timestamp('2021-06-14 00:00:00'),
 Timestamp('2021-06-21 00:00:00'),
 Timestamp('2021-06-28 00:00:00'),
 Timestamp('2021-07-05 00:00:00')]

In [25]:
def get_dates(frequency):
    try:
        return [pd.Timestamp(frequency).normalize()]
    except:
        pass
    
    try:
        r = RecurringEvent()
        r.parse(frequency)
        rr = rrule.rrulestr(r.get_RFC_rrule())
        return [
            pd.to_datetime(date).normalize()
            for date in rr.between(start, end)
        ]
    except:
        raise Exception

In [ ]:
def